.familyCard .familyContent, .topContent a,.bg-first,.section-info, .btn-red, .btn-tab.active, .btn-tab:hover{background-color: #F07444 !important;}
 .active, .navbar-light .navbar-nav .nav-link:hover, .familyCard .familyContent ul li a, .form-control::placeholder, .friendCard ul li a,.formSub button , .contactIcon, .counterItem li:first-child span,.friendCard ul li,.friendCard h3,.aboutContent h2{color:#F07444 !important}
.form-control:focus{border-color:#F07444 !important}
.btn-red:hover, .btn-tab{color:#F07444;box-shadow:2px 2px 5px #F07444;}
.btn-red, .btn-tab{box-shadow:2px 2px 5px #F07444;}
.nav-link.btn-lg.btn-tab.active{color:white !important}